
@{
    ViewData["Title"] = "Result Types";
}

<h1>Result Types</h1>
<ul>
    <li>
        <a href="/ResultTypes/File">File Results</a>
    </li>
    <li>
        <a href="/ResultTypes/File">File Results</a>
    </li>
    <li>
        <a href="/ResultTypes/File">ContentResult</a>
    </li>
    <li>
        <a href="/ResultTypes/File">JavaScriptResult</a>
    </li>
    <li>
        <a href="/ResultTypes/File">JsonResult</a>
    </li>
    <li>
        <a href="/ResultTypes/File">RedirectToResult</a>
    </li>
</ul>



HttpUnauthorizedResult	
RedirectToRouteResult	
ViewResult	, PartialViewResult
